.hero {
  height: 100vh;
  min-height: 600px;
  background-image: url(./img/first-bg@1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  outline: 1px solid teal;
}